# Byte-compiled / optimized Python files
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
venv/
env/
.venv/

# Editor / IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos de logs y bases de datos locales
*.log
*.sqlite3

# Archivos de entorno
.env
